{%extends 'all-images/base.html'%}

{% block content %}
{{block.super}}
<div class="container">

  
    {% for image in images %}
  
    <div class="row">
      
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ image.location }} </h2>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="card "  style="width:16rem;">
 <h4>{{image.category}}</h4>
          <img src = "{{image.image.url}}" alt="{{image.image.name}}"   width="300" height="250">
        </div>
        </div>
    
      </div>
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No images Items</h2>
    </div>
    {% endfor %}
  
  </div>

{% endblock %}
