{%extends 'all-images/base.html'%} 
{% block content %}
{{block.super}}
{%load 'bootstrap4'%}
<div class="container">
  <div class="card-colums">
      <a type="button" data-toggle="modal" data-target="#exampleModalScrollable">
          <img src="{{image.image.url}}" alt="{{image.image.name}}" class="img-responsive"
            style="width: 510px;">
            <p>{{image.Name}}</p>
            <p>{{image.Description}}</p>
            <p>{{image.location}}</p>
            <p>{{image.Category }}</p>
        </a>

  </div>

</div>
{% endblock %}